/* Header */
.logo {
	font-family: Lucida Sans;
	color: #130e16;
	font-size: 10px;
	text-align: center;
	border-bottom: 1px solid #cdb2c5;
}
			/* NavBar */
.navbar ul {
		display: flex;
		justify-content: center;
		padding: 0;
		margin: 0;
		list-style-type: none;
		background-color: #f8f6f9;
}
.navbar li a {
		display: block;
		color: #130e16;
		text-decoration: none;
		text-transform: uppercase;
		margin: 20px 25px;
		padding: 10px;
		font-size: 13px;
		letter-spacing: 2px;
		transition: all 0.4s;
}
.navbar ul li a:hover {
		color: #130e16;
		background-color: #cdb2c5;
}
.navbar ul li a.active{
		color: #130e16;
		background-color: #cdb2c5;
}

/* Banner */
	.banner {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 85vh;
		background-image: linear-gradient(#88689c, #88689c), url("https://images.unsplash.com/photo-1469317835793-6d02c2392778?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
		background-size: cover;
		background-blend-mode: multiply;
	}
	
	.banner_text {
		color: #fff;
		text-align: center;
		text-transform: uppercase;
	}
	.banner_text h1 {
		font-size: 100px;
		font-weight: 500;
	}
	.banner_text p {
		letter-spacing: 5px;
	}
	
	/* Button */
	.bg_dark {
		background-color: #b893a6;
	}
	.bg_light {
		background-color: #cdb2c5 !important;
	}
	.text_light {
		color: #130e16;
	}
	.bg_dark, .bg_light {
		display: inline-block;
		color: #fff;
		text-decoration: none;
		padding: 10px 30px;
		border-radius: 100px;
	}
	.btn_dark {
		display: inline-block;
		background-color: #b893a6;
		color: #fff;
		text-decoration: none;
		padding: 15px 25px;
		border-radius: 100px;
		font-size: 14px;
		letter-spacing: 2px;
		transition: all 0.4s;
	}
	.btn_dark:hover {
		background-color: #fff;
		color: #130e16;
	}
	
	.margin_top {
		margin-top: 15px;
	}